# SST39SF010 flash programmer
# by Phillip Pearson

# Copyright 2017 Google Inc
# Licensed under the GPL; see LICENSE.txt for details.


MEMORY
{
   MAIN: start = $1100, size = $2000, fill = no;
}

SEGMENTS
{
   CODE: load = MAIN, type = rw;
}
